#preview-contanier {
    background: url('img/bg_preview.png') repeat-x;
}

a.create-button {
    background: url('img/create_button1.png') no-repeat;
}
a.create-button-inner {
    background: url('img/create_button.png') no-repeat;
}

#wrap {
    background: url('img/header.jpg') center top no-repeat;
}

.block-manage {
    background: url('img/manage_block.png') no-repeat;
}

#btn_r {
    background: url('img/rbutton.jpg') no-repeat;
}

#slogan {
    background: url('img/slogan.png') no-repeat;
}

#slogan_inner {
    background: url('img/slogan2.png') no-repeat;
}

.i01 {
    background: url('pick/integ1.jpg') no-repeat;
}

.i02 {
    background: url('pick/integ2.jpg') no-repeat;
}

.i03 {
    background: url('pick/integ3.jpg') no-repeat;
}

.i04 {
    background: url('pick/integ4.jpg') no-repeat;
}

.i05 {
    background: url('pick/integ5.jpg') no-repeat;
}

.i06 {
    background: url('pick/integ6.jpg') no-repeat;
}

.i07 {
    background: url('pick/integ7.jpg') no-repeat;
}

.i08 {
    background: url('pick/integ8.jpg') no-repeat;
}

/*integ*/

.m01 {
    background: url('pick/moduls1.jpg') no-repeat;
}

.m02 {
    background: url('pick/moduls2.jpg') no-repeat;
}

.m03 {
    background: url('pick/moduls3.jpg') no-repeat;
}

.m04 {
    background: url('pick/moduls4.jpg') no-repeat;
}

.m05 {
    background: url('pick/moduls5.jpg') no-repeat;
}

.m06 {
    background: url('pick/moduls6.jpg') no-repeat;
}

.m07 {
    background: url('pick/moduls7.jpg') no-repeat;
}

.m08 {
    background: url('pick/moduls8.jpg') no-repeat;
}

.m10 {
    background: url('pick/moduls10.jpg') no-repeat;
}

.m11 {
    background: url('pick/moduls11.jpg') no-repeat;
}

.m12 {
    background: url('pick/moduls12.jpg') no-repeat;
}

.m13 {
    background: url('pick/moduls13.jpg') no-repeat;
}

.m14 {
    background: url('pick/moduls14.jpg') no-repeat;
}

.m15 {
    background: url('pick/moduls15.jpg') no-repeat;
}

.m16 {
    background: url('pick/moduls16.jpg') no-repeat;
}

.m17 {
    background: url('pick/moduls17.jpg') no-repeat;
}

.m18 {
    background: url('pick/moduls18.jpg') no-repeat;
}

.t01 {
    background: url('pick/templ1.jpg') no-repeat;
}

.t02 {
    background: url('pick/templ2.jpg') no-repeat;
}

.t03 {
    background: url('pick/templ3.jpg') no-repeat;
}

.t04 {
    background: url('pick/templ4.jpg') no-repeat;
}

.t05 {
    background: url('pick/templ5.jpg') no-repeat;
}

.t06 {
    background: url('pick/templ6.jpg') no-repeat;
}

.t07 {
    background: url('pick/templ7.jpg') no-repeat;
}

.v01 {
    background: url('pick/vidget01.jpg') no-repeat;
}

.v02 {
    background: url('pick/vidget02.jpg') no-repeat;
}

.v03 {
    background: url('pick/vidget03.jpg') no-repeat;
}

.v04 {
    background: url('pick/vidget04.jpg') no-repeat;
}

.v05 {
    background: url('pick/vidget05.jpg') no-repeat;
}

.v06 {
    background: url('pick/vidget06.jpg') no-repeat;
}

.v07 {
    background: url('pick/vidget07.jpg') no-repeat;
}

.v08 {
    background: url('pick/vidget08.jpg') no-repeat;
}

.v09 {
    background: url('pick/vidget09.jpg') no-repeat;
}

.v10 {
    background: url('pick/vidget10.jpg') no-repeat;
}