/*1303226027,169776065*/

#captcha fieldset{border-top:1px solid #c0c0c0;border-bottom:1px solid #c0c0c0;margin:0;padding:10px}
#captcha legend{color:#808080}
#captcha .divider{display:none}
#captcha .captcha_refresh{font-size: 9px;color:#808080}
#captcha .captcha_other_options{padding-top:5px;font-size: 9px}
#captcha .recaptcha_text{font-size: 11px;line-height:16px}
#captcha .captcha_optout{font-size: 11px;padding:10px 0 5px}
#captcha #recaptcha_image{font-weight:bold;margin:10px 0 0 0}
#captcha #recaptcha_image a.recaptcha_audio_cant_hear_link{font-size: 9px;font-weight:normal}
#captcha .captcha_loading{border:0}
#captcha .captcha_image img{border:1px solid #c0c0c0}
#captcha .captcha_input input{direction:ltr;margin-top:4px;width:137px}
#captcha .captcha_input label{margin-right:4px}
.register #captcha .captcha_input label{color:#666;font-weight:bold}
#generic_dialog.captcha .generic_dialog_popup{width:340px}
#generic_dialog.captcha #generic_dialog_popup{border:0 solid white;margin:auto}
#generic_dialog.captcha #generic_dialog_popup legend{display:none}
.audiocaptcha{overflow:hidden;display:block;margin:0;padding:0}
.audiocaptcha a{display:block}
.recaptcha_is_showing_audio .recaptcha_only_if_image{display:none !important}
.recaptcha_is_showing_audio .recaptcha_only_if_audio{display:inline !important}
.recaptcha_had_incorrect_sol .recaptcha_only_if_no_incorrect_sol{display:none !important}
.recaptcha_nothad_incorrect_sol .recaptcha_only_if_incorrect_sol{display:none !important}
.recaptcha_whats_this{margin-left:15px;display:inline}
.captcha_interstitial{border:1px solid #ccc;-moz-border-radius:4px 4px 4px 4px;margin:20px auto;padding:20px;width:555px}
.tfbcaptcha_whats_this_popup{padding:5px}
.tfbcaptcha_whats_this{margin-left:15px;display:inline}
#blueBar.loggedOut{height:82px;position:absolute}
.fbIndex .uiWashLayoutBlueWash{background-color:#dde2ed}
.fbIndex .contentContainer{margin:0 auto 0 auto;width:980px}
.fbIndex .bodyWash{margin-bottom:0}
.fbIndex .locales{margin:5px auto;width:964px}
.fbIndexMap .title{color:#0e385f;font-size: 20px;line-height:29px;margin-top:40px;width:450px;word-spacing:-1px}
.fbIndexMap .map{_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://b.static.ak.fbcdn.net/rsrc.php/v1/zi/r/OBaVg52wtTZ.png");background:transparent url(../../../../../b.static.ak.fbcdn.net/rsrc.php/v1/zi/r/OBaVg52wtTZ.png) no-repeat;_background:transparent;height:195px}
.fbIndexMobile{height:295px;background:url(../../zK/r/BFOd681AL3h.png) bottom left no-repeat;_background:transparent;padding-top:45px;width:537px}
.fbIndexMobile .phoneImage{margin-left:50px}
.fbIndexMobile .rightSide{width:370px}
.fbIndexMobile .title,
.fbIndexMobile .subtitle{color:#203360}
.fbIndexMobile .title{font-size: 20px;font-weight:normal}
.fbIndexMobile .subtitle{font-size: 15px}
.fbIndexMobile .mobileButton{margin-top:55px}
.fbIndexFeaturedRegistration .feature{width:550px}
.fbIndexFeaturedRegistration .signupForm{padding:43px 0 0 15px;width:383px}
.fbIndexFeaturedRegistration .headerTextContainer{border-bottom:1px solid #9aafca;width:354px}
.fbIndexFeaturedRegistration .mainTitle{color:#0e385f;font-size: 18px}
.fbIndexFeaturedRegistration .subtitle{color:#0e385f;font-size: 15px}
.fbIndexFeaturedRegistration .pagesSection{margin-right:25px}
.fbIndexFeaturedRegistration #reg_box .large_form label{font-weight:normal}
.menu_login_container table tr{vertical-align:top}
.menu_login_container table tr td{padding:0 0 0 14px}
.menu_login_container .inputtext,
.menu_login_container .inputpassword{border-color:#1d2a5b;margin:0;width:142px}
.menu_login_container label{color:#98a9ca;font-weight:normal;margin:0}
.menu_login_container td.html7magic{padding-bottom:4px}
.menu_login_container .html7magic label{color:#fff;padding-left:1px}
.menu_login_container .inputcheckbox{margin-left:0}
.menu_login_container a,
.menu_login_container a:hover{color:#98a9ca}
.menu_login_container .login_form_label_field{padding-bottom:3px;padding-top:1px;*padding-top:3px;vertical-align:bottom}
.ff2 .menu_login_container .html7magic,
.ff3 .menu_login_container .html7magic{padding-bottom:3px}
.menu_login_container .login_form_label_field input{position:relative;top:1px;vertical-align:bottom}
.menu_login_container .login_form_label_field label,
.menu_login_container .login_form_label_field a{position:relative;top:-2px;vertical-align:bottom}
.menu_login_container #email{direction:ltr}
.loggedout_menubar_container{background-color:#3b5998;height:82px;min-width:964px}
.loggedout_menubar{margin:0 auto;padding-top:13px;width:964px}
.loggedout_menubar .fb_logo{margin-left:18px;margin-top:17px}
.signup_bar_container{background-color:#edeff4;border-bottom:1px solid #d8dfea}
.signup_box{color:#203360;display:block;font-size: 13px;font-weight:bold;line-height:normal;padding:14px 22px;width:920px;margin:0 auto}
.signup_box_content{float:left;font-size: 13px;font-weight:bold;padding:4px 14px 6px}
.signup_box_submessage{clear:left;display:block;font-size: 13px;font-weight:normal;padding:3px 0 0 0}
.signup_box .signup_btn{float:left}
.simple_registration_container{width:400px;margin:0 auto 0 auto;padding-bottom:30px}
#main_container .UIWindowShade{padding-top:20px}
#main_container{width:600px;margin:0 auto 30px auto}
#reg_form_box{padding-left:30px}
#reg_form_box #extra_selects_hack{display:none}
#main_container #error{margin-top:20px}
#main_container .terms_footer{margin:0 0 40px 2px;padding-top:2px}
.registration #nonfooter .UIFullPage_Container{padding-top:0}
.registration .captcha_input_wrapper{display:table}
.registration #reg_box .label{color:#666;font-weight:bold;padding:6px 10px 0 0}
.registration #reg_box label{color:#666}
.registration #reg_box .inputtext,
.registration #reg_box .inputpassword{border-color:#bdc7d8;margin:0}
.registration #reg_form_box .reg_btn{margin:1px 0 0 102px}
.registration #reg_captcha{margin:0 0 0 22px}
.registration #captcha_buttons{clear:left;margin-left:24px}
.registration #reg_captcha h2{color:#222}
.registration #captcha .captcha_input{position:relative}
.registration #captcha .captcha_input input,
.registration #captcha .captcha_input #captcha_response{margin:0;float:none}
.registration #captcha_response{margin-left:0}
.registration #reg_box select{margin:1px 0}
.registration #reg_box .label{white-space:normal}
.registration #reg_box .error_field #birthday_month{margin-left:1px}
.registration #reg_box .error_field #birthday_year{margin-right:1px}
.registration #reg_box .error_field #sex{margin:1px 1px}
.registration p.legal_tos{clear:left}
.registration #reg_captcha #captcha div.captcha_input{display:inline-block;overflow:visible}
.registration #reg_captcha #captcha div.captcha_input input{width:auto}
.registration #reg_captcha label{margin-top:3px}
.registration .field_container{margin:2px 0 1px 0}
#age_restriction_error{margin-top:40px}
.registration #reg_box .error_field input.inputtext,
.registration #reg_box .error_field input.inputpassword{border-color:#dd3c10}
#reg_ads_msg{color:#666;font-size: 11px;font-weight:bold;margin-top:10px;text-align:center}
.pagesSection{border-top-color:#a0a9c0;border-top-style:solid;text-align:center;font-weight:bold;border-top-width:1px;margin-top:10px;font-size: 11px;padding-top:10px;color:#666}
.registration .pagesSection{border-top-color:#ccc;margin-top:20px}
.registration .cancel_button_image{background-image:url(../../zS/r/STeWPW2kh0m.png);background-repeat:no-repeat;float:left;height:17px;margin:6px 0 0;width:12px}
.registration #cancel_button{border:0 solid transparent;color:#3b5998;float:left;font-size: 12px;font-weight:bold;line-height:14px;margin:6px 0 0;width:75px}
.async_status{margin-left:10px;position:relative;top:3px}
.simple_registration_container .tos_container{margin-top:12px}
.registration .tos_container{margin-left:22px}
#reg_email__{direction:ltr}
#reg_box #reg div.password_confirm td.label{width:108px}
#reg_box #reg div.password_confirm div.reg_btn{margin:0 0 0 110px}
#reg_box #reg div.large_form{padding-left:0}
#reg_box #reg div.large_form td.label{font-size: 13px;width:105px;padding-right:3px}
#reg_box #reg div.large_form div.field_container input{padding:6px;font-size: 16px;width:250px}
#reg_box #reg div.large_form div.field_container select{font-size: 13px;padding:5px;height:30px}
.field_container{display:inline-block;position:relative;width:auto}
.ie7 .field_container,
.ie6 .field_container{display:inline}
#reg_box #reg div.large_form #birthday_warning{font-size: 11px}
#reg_box #reg div.large_form div.reg_btn{margin:0 0 0 110px}
#reg_box #reg div.large_form.password_confirm div.reg_btn{margin:0 0 0 130px}
#reg_box #reg div.large_form div.reg_btn label input{font-size: 13px;padding:3px 25px 5px}
#reg_box #reg div.large_form.password_confirm td.label{width:125px}
.contextual_dialog .generic_dialog_popup{padding-top:9px;position:absolute;width:360px}
.contextual_dialog .arrow{background-image:url(../../../../../b.static.ak.fbcdn.net/rsrc.php/v1/z1/r/eae62KoJhLY.png);background-repeat:no-repeat;height:9px;margin-left:25px;margin-top:-2px;position:absolute;top:4px;width:13px}
.contextual_dialog .contextual_dialog_content{background:#fff;border:1px solid #333;border-bottom:2px solid #283e6a;line-height:15px}
.contextual_dialog .contextual_dialog_content div.dialog_loading{background:#fff;border:0}
.contextual_dialog .dialog_title{color:#000;font-size: 11px;padding-bottom:2px;padding:8px 10px 0}
.contextual_dialog .dialog_body{padding:8px 10px}
.contextual_dialog .dialog_buttons{background-color:#f2f2f2;border-top:1px solid #ccc;padding:8px 10px}
.contextual_dialog .dialog_buttons_msg{float:right}
.uiWashLayoutOffsetWash{padding-bottom:80px}
.uiWashLayoutWashContent{margin-left:auto;margin-right:auto}
.uiWashLayoutBlueWash{background-color:#eceff5;border-bottom:1px solid #d8dfea}
.uiWashLayoutGrayWash{background-color:#f2f2f2;border-bottom:1px solid #ccc}
.uiWashLayoutGradientWash,
.uiWashLayoutEmptyGradientWash{background:url(../../../../../b.static.ak.fbcdn.net/rsrc.php/v1/zB/r/TwAHgQi2ZPB.png) repeat-x}
.uiWashLayoutEmptyGradientWash{background-position:0 25%}
.uiWashLayoutEmptyWash{height:40px}
.uiWashLayoutContent{margin-left:auto;margin-right:auto;margin-bottom:40px}
.uiWashLayoutOffsetContent{background-color:#fff;margin-top:-80px}
.WelcomePage_Container{padding:0;margin:0;background:transparent url(../../zX/r/4PIot2bO7ET.jpg) bottom center repeat-x}
.WelcomePage_MainSell{margin:0;padding-top:36px;background:transparent url(../../zs/r/1HX6ENG455b.jpg) bottom center no-repeat}
.WelcomePage_MainSellCenter{margin:0 auto;padding:0 12px;width:940px;position:relative}
.WelcomePage_Warnings{padding:0 6px 30px}
.WelcomePage_MainSellLeft{float:left;width:536px;padding-bottom:20px}
.WelcomePage_MainSellRight{width:396px;padding:0;float:right}
.WelcomePage_MainMessage{padding-right:60px;margin:0;margin-top:1px;margin-left:6px;font-size: 20px !important;line-height:29px;word-spacing:-1px;color:#203360;font-weight:bold !important}
.WelcomePage_MainMap{width:537px;height:195px;margin-left:-11px;margin-top:20px;background:transparent url(../../../../../b.static.ak.fbcdn.net/rsrc.php/v1/zi/r/OBaVg52wtTZ.png) top left no-repeat!important;background:transparent;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://b.static.ak.fbcdn.net/rsrc.php/v1/zi/r/OBaVg52wtTZ.png", sizingMethod="scale")}
.WelcomePage_RecruitPromo{width:537px;height:420px;margin-left:-60px;margin-top:5px;background:transparent url(../../../../../b.static.ak.fbcdn.net/rsrc.php/v1/zL/r/skKU74pTcQ4.png) top left no-repeat!important;background:transparent;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://b.static.ak.fbcdn.net/rsrc.php/v1/zL/r/skKU74pTcQ4.png", sizingMethod="scale")}
.WelcomePage_RecruitPromoLink{color:#fff;margin-left:340px;margin-top:-20px}
.WelcomePage_RecruitPromoLink a{color:#fff}
.WelcomePage_SimpleReg{padding:10px 0 20px 0}
.WelcomePage_SignUpSection{padding:0;margin:0;width:388px}
.WelcomePage_SignUpMessage{margin:0;padding:0}
.WelcomePage_SignUpHeadline{font-size: 20px !important;line-height:29px;word-spacing:-1px;color:#203360;font-weight:bold !important}
.WelcomePage_SignUpSubheadline{font-size: 20px !important;line-height:29px;word-spacing:-1px;padding-top:1px;color:#203360}
.WelcomePage .editor td label,
.WelcomePage .captcha_input label{font-weight:normal !important}
.captcha_input label{width:90px}
.captcha_input input{direction:ltr}
#reg_form_box .editor{margin:0 0 7px 0}
#reg_box{padding:0;margin:0}
#reg_box .label{color:#1d2a5b;text-align:right;padding-right:3px;width:90px}
#reg_box label{color:#1d2a5b;font-weight:bold;vertical-align:middle}
#reg_box .inputtext, #reg_box .inputpassword{width:206px;border-color:#96a6c5;margin-top:2px}
#reg_box select{margin:2px 0 0 0}
.ff2 #reg_box select,
.ff3 #reg_box select{border-color:#96a6c5}
#reg_box #birthday_warning{font-size: 9px;margin-left:1px}
#reg_progress{font-size: 13px !important;text-align:center;margin:0;font-weight:bold;padding:0}
#reg_progress img{margin-right:15px}
#reg_progress #progress_wrap{padding:80px 0 0 0;margin:0;text-align:center}
#reg_progress .popup_retry{font-weight:normal;margin:auto;text-align:center;width:200px}
#terms{margin:0 5px 0 0}
#reg_form_box .reg_terms_box{margin-left:95px;padding-top:15px}
#openid_buttons_box{background:#fff9d7;border:solid 1px #e2c822;font-size:10ipx;margin:0 0 10px 0;padding:10px}
select#openid_buttons_box{font-size: 11px}
p.legal_tos{color:#555;font-size: 9px;padding:0;margin:0 0 10px 0}
.option_field{margin-bottom:10px}
.option_field label{font-weight:normal !important}
#captcha_whatsthis{display:none}
#captcha_response{border:1px solid #bdc7d8;font-family:"lucida grande", tahoma, verdana, arial, sans-serif;font-size: 11px;padding:3px}
#reg_form_box .reg_btn{margin:0 0 0 95px}
#reg_form_box #cancel_button{float:left}
#reg_error,
#captcha_error{background:#ffebe8;border:1px solid #dd3c10;line-height:15px;margin:10px 0 0 0;text-align:center;height:0;overflow:hidden}
#reg_error_inner{padding:7px 3px 7px 3px}
#reg_captcha{margin:0;padding:10px 0 0 0;line-height:16px}
#reg_captcha h2{color:#1d2a5b;padding-bottom:3px}
#reg_captcha #captcha div.captcha_input{margin:5px 0 7px 0;overflow:hidden}
#reg_captcha #captcha_buttons{padding:0;margin:5px 0 0 0;padding:10px 0 0 0;text-align:left;display:block;overflow:hidden}
#captcha_buttons .gridCol{float:left;overflow:hidden;margin:0}
#captcha_buttons #A_btn_sign_up{width:160px}
#captcha_buttons #back_button{width:101px}
table.editor select{_margin-left:1px}
#reg_captcha #cancel_button{float:left;font-size: 12px;line-height:14px;font-weight:bold;border:0 solid transparent;color:#3b5998;margin:6px 0 0 0;width:75px}
#reg_captcha .cancel_button_image{float:left;width:12px;height:17px;margin:6px 0 0 0;background-image:url(../../zS/r/STeWPW2kh0m.png);background-position:middle left;background-repeat:no-repeat}
#reg_captcha .pc_field_container{margin-left:6px}
#reg_captcha label{vertical-align:middle}
#reg_captcha .pc_email{border:1px solid #bdc7d8;font-size: 11px;padding:3px;width:140px}
.ie6 #reg_captcha .cancel_button_image{background:transparent;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://static.ak.fbcdn.net/rsrc.php/v1/zS/r/STeWPW2kh0m.png", sizingMethod="crop")}
#country_tos .reg_tos_section{width:295px;height:60px;overflow:auto;background:#fff;padding:5px;border:1px solid #bdc7d8}
#country_tos label{font-weight:normal}
.welcome_locales{margin:5px auto;width:964px}

#bootloader_ZiMC3 { height: 42px; }