* { margin: 0; padding: 0; }
body { width: 1000px; margin: 0 auto; font-family: Verdana, Tahoma, sans-serif; font-size: 10px; }
a { color: #336699; text-decoration: none; }
div.error { margin: 20px; padding: 10px 30px; font-size: 15px; line-height: 22px; background: #FFE3D4 url('img/exclamation.png') no-repeat 7px center; border: solid 1px #FF7348; }
div.info { margin: 20px; padding: 10px 30px; font-size: 15px; line-height: 22px; background: #D4FFD4 url('img/information.png') no-repeat 7px; border: solid 1px #00B900; }
div.note { margin: 20px 40px; padding: 10px 15px; font-size: 12px; line-height: 20px; background-color: #F1F2F3; border: solid 1px #97A6B5; color: #556677; }
p.generic { font-size: 15px; padding: 10px; text-align: center; }
div.loaddisableder { background: #FFFFFF url('img/loaddisableder2.gif') no-repeat center center; height: 100px; }
div.top { background: #336699 url('img/cbl.gif') no-repeat bottom left; height: 50px; }
div.top > h1 > a { color: #FFFFFF; font-weight: normal; display: block; text-decoration: none; text-align: center; float: left; width: 200px; height: 50px; font-size: 40px; }
div.top > h1 > a:hover { color: #B3CCE6; }
div.top > ul { display: block; height: 50px; float: right; list-style-type: none; padding-right: 10px; background: transparent url('img/cbr.gif') no-repeat bottom right; }
div.top > ul > li { display: block; float: left; border-left: solid 1px #B3CCE6; height: 50px; }
div.top > ul > li > a { display: block; float: left; color: #FFFFFF; padding: 13px 15px 7px; text-decoration: none; font-size: 20px; background-color: #336699; height: 30px; }
div.top > ul > li > a:hover { background-color: #90B2D5; border-bottom: solid 10px #336699; color: #FFFFFF; }
form.search { display: block; padding: 10px 0 0 0; background: #FFB090 url('img/ctr.gif') no-repeat top right; margin: 20px 0; }
form.search > fieldset { display: block; border: none; padding: 0 0 10px 0; background: #FFB090 url('img/cbl.gif') no-repeat bottom left; }
form.search > fieldset > div { display: block; background-color: #FFFFFF; height: 30px; float: left; text-align: center; border-left: solid #FFB090 10px; }
form.search #thesearchbox { border: 0; margin: 0; padding: 0; width: 800px; padding: 4px; font-size: 18px;}
form.search #thesearchbutton { border: 0; margin: 0; padding: 0; width: 160px; background-color: #FFFFFF; font-weight: bold; color: #6B3F2E; cursor: pointer; font-size: 15px; height: 30px; }
ul.autocomplete { position: absolute; top: -100px; left: -100px; background-color: #FFFFFF; border: solid 1px #FFB090;list-style-type: none; display:none; }
ul.autocomplete > li { border-top: solid 1px #FFB090; font-size: 12px; display: block; padding: 3px; text-align: left; }
ul.autocomplete > li.selected { background-color: #e1e1e1; }
div.results { margin: 20px 0; background: #F5DFD6 url('img/ctr.gif') no-repeat top right; }
div.results > h2 { font-size: 20px; font-weight: normal; padding: 5px 0 5px 20px; color: #805B4D; background: transparent url('img/ctl.gif') no-repeat top left; border-bottom: solid 10px #fff; }
div.results > h3 { font-size: 14px; font-weight: normal; padding: 5px 20px 5px 20px; color: #2E4C6B; background-color: #EDF2F8; border-bottom: solid 10px #fff; text-align: right; }
div.results > h3 > small { font-size: 10px; font-weight: normal; color: #97A6B5; }
div.results > div { float: right; color: #805B4D; padding: 10px 20px 0 0; font-size: 12px; }
div.results > div > a { color: #CC3A00; text-decoration: none; }
div.results > div > a:hover { color: #FF5511; text-decoration: underline; }
div.results > div > b { color: #6B3F2E; }
div.results > dl { display: block; background-color: #ffffff; border-bottom: solid 1px #F5DFD6; padding: 4px 0; }
div.results > dl > dt { display: block; width: 720px; margin-left: 2px; color: #75808A; font-size: 13px; white-space: nowrap; overflow-x: hidden; }
div.results > dl > dt > a { text-decoration: none; color: #336699; }
div.results > dl > dt > a:hover { text-decoration: underline; color: #FF5511; }
div.results > dl > dd { display: block; float: right; margin: -14px 0 0 0; font-size: 12px; width: 275px; }
div.results > dl > dd > span { display: block; float: left; text-align: right; }
div.results > dl > dd > span.a { width: 100px; }
div.results > dl > dd > span.s { width: 70px; }
div.results > dl > dd > span.u { width: 50px; color: #009600; }
div.results > dl > dd > span.d { width: 50px; color: #003DB9; }
div.results > dl > dd > span.pe { width: 170px; }
div.results > p { background: transparent url('img/cbl.gif') no-repeat bottom left; border-top: solid 1px #fff; margin-top: -1px; height: 40px; font-size: 15px; }
div.results > p > span { display: block; background: transparent url('img/cbr.gif') no-repeat bottom right; float: right; padding: 8px; }
div.results > p > span > span { display: block; float: left; padding: 2px 5px; margin: 0 2px; color: #CC8366; background-color: #fff; border: solid 1px #CC8366; }
div.results > p > span > a { display: block; float: left; padding: 2px 5px; margin: 0 2px; color: #CC3A00; background-color: #fff; border: solid 1px #CC3A00; text-decoration: none; }
div.results > p > span > a:hover { background-color: #FAEFEB; color: #FF5511; border-color: #FF5511; }
div.results > p > span > strong { display: block; float: left; padding: 2px 5px; margin: 0 2px; color: #CC8366; }
div.downloaddisabled { margin: 20px 0; background: #F5DFD6 url('img/ctr.gif') no-repeat top right; }
div.downloaddisabled > h2 { background: transparent url('img/ctl.gif') no-repeat top left; padding: 5px 0 5px 20px; font-size: 20px; font-weight: normal; color: #E3C2B5; border-bottom: solid 5px #fff; }
div.downloaddisabled > h2 > span { color: #805B4D; }
div.downloaddisabled > div { float: right; padding: 10px 20px 0 0; color: #805B4D; font-size: 12px; }
div.downloaddisabled > dl { background-color: #fff; border-bottom: solid 1px #F5DFD6; }
div.downloaddisabled > dl > dt > a { display: block; width: 1000px; cursor: pointer; color: #000; text-decoration: none; font-size: 15px; line-height: 30px; white-space: nowrap; overflow-x: hidden;}
div.downloaddisabled > dl > dt > a:hover { background-color: #FAEFEB; }
div.downloaddisabled > dl > dt > a > span { display: block; float: left; cursor: pointer; }
div.downloaddisabled > dl > dt > a > span.u { width: 180px; color: #FF5511; text-decoration: underline; padding-left: 30px; font-size: 17px; line-height: 30px; }
div.downloaddisabled > dl > dt > a > span.n { width: 500px; margin-right: 10px; color: #336699; padding-top: 0; overflow-x: hidden; }
div.downloaddisabled > dl > dd { float: right; margin-top: -20px; padding: 0; font-size: 12px; }
div.downloaddisabled > p { font-size: 12px; padding: 5px; text-align: center; background-color: #FAEFEB; color: #6B3F2E; margin-top: -1px; border-top: solid 5px #fff; }
div.trackers { margin: 20px 340px 20px 0; background: #F5DFD6 url('img/ctr.gif') no-repeat top right; }
div.trackers > h2 { background: transparent url('img/ctl.gif') no-repeat top left; padding: 5px 0 5px 20px; font-size: 20px; font-weight: normal; color: #805B4D; border-bottom: solid 5px #fff; }
div.trackers > div { float: right; padding: 10px 20px 0 0; font-size: 12px; color: #805B4D; }
div.trackers > dl { background-color: #ffffff; border-bottom: solid 1px #F5DFD6; font-size: 13px; }
div.trackers > dl > dt { padding: 3px; }
div.trackers > dl > dt > a { color: #336699; text-decoration: none; }
div.trackers > dl > dt > a:hover { color: #FF0000; text-decoration: underline; }
div.trackers > dl > dd { float: right; margin-top: -17px; }
div.trackers > dl > dd > span { display: block; float: left; text-align: right; }
div.trackers > dl > dd > span.a { width: 100px; }
div.trackers > dl > dd > span.u { width: 60px; color: #009600; }
div.trackers > dl > dd > span.d { width: 60px; color: #003DB9; }
div.trackers > p { font-size: 12px; padding: 5px; text-align: center; background-color: #FAEFEB; color: #6B3F2E; margin-top: -1px; border-top: solid 5px #fff; }
div.feedback { margin: 20px 340px 20px 0; background: #BCC6CF url('img/ctr.gif') no-repeat top right; }
div.feedback > h2 { background: transparent url('img/ctl.gif') no-repeat top left; padding: 5px 0 5px 20px; font-size: 20px; font-weight: normal; color: #556677; border-bottom: solid 5px #fff; }
div.feedback > p { background-color: #fff; font-size: 18px; padding: 2px; text-align: center; }
div.feedback > p > a { font-weight: normal; color: #336699; text-decoration: none; }
div.feedback > p > a:hover { color: #FF0000; text-decoration: underline; }
div.files { margin: 20px 0; background: #F5DFD6 url('img/ctr.gif') no-repeat top right; clear: right; }
div.files > h2 { background: transparent url('img/ctl.gif') no-repeat top left; padding: 5px 0 5px 20px; font-size: 20px; font-weight: normal; color: #805B4D; border-bottom: solid 5px #fff; }
div.files > div { float: right; padding: 10px 20px 0 0; font-size: 12px; color: #805B4D; }
div.files ul { font-size: 13px; padding-left: 3px; margin-left: 10px; background-color: #ffffff; list-style-type: none; border-left: solid 1px #F5DFD6; }
div.files > ul { margin: 0; border: 0; }
div.files li { padding: 3px; font-weight: normal; color: #000; width: 90%; }
div.files li.t { padding: 5px 20px; font-weight: bold; color: #6B3F2E; background: url('img/folder.png') no-repeat left center; }
div.files ul li span { color: #805B4D; padding-left: 20px; font-weight: normal; }
div.files > p { font-size: 11px; padding: 5px; background-color: #FAEFEB; color: #6B3F2E; }
div.index-stats { margin: 20px 0; background: #F5DFD6 url('img/ctr.gif') no-repeat top right; display: block; float: left;}
div.index-stats > h2 { background: transparent url('img/ctl.gif') no-repeat top left; padding: 5px 0 5px 20px; font-size: 20px; font-weight: normal; color: #805B4D; border-bottom: solid 5px #fff; }
div.index-stats > div { float: right; padding: 10px 20px 0 0; color: #805B4D; font-size: 12px; }
div.index-stats > dl { background-color: #fff; border-bottom: solid 1px #F5DFD6; width: 500px; display: block; float: left; }
div.index-stats > dl > dt { padding-left: 30px; width: 460px; line-height: 30px; white-space: nowrap; overflow-x: hidden; font-size: 16px;}
div.index-stats > dl > dd { float: right; margin: -20px 20px 0 0; padding: 0; font-size: 12px; }
div.index-stats > p { font-size: 11px; padding: 5px; text-align: center; background-color: #FAEFEB; color: #6B3F2E; margin-top: -1px; border-top: solid 5px #fff; display: block; float: left; width: 990px; }
div.generic { margin: 20px 0; background: #F5DFD6 url('img/ctr.gif') no-repeat top right; }
div.generic > h2 { background: transparent url('img/ctl.gif') no-repeat top left; padding: 5px 0 5px 20px; font-size: 20px; font-weight: normal; color: #805B4D; border-bottom: solid 5px #fff; }
div.generic > p { font-size: 12px; padding: 5px; text-align: center; background-color: #FAEFEB; color: #6B3F2E; }
form.profile { display: block; padding: 10px; margin: 10px 0; }
form.profile > fieldset { display: block; padding: 10px 20px 20px 40px; background-color: #F1F2F3; border: solid #556677 1px; }
form.profile > fieldset > legend { font-size: 20px; color: #556677; border: solid #C8CCD0 1px; background-color: #fff; padding: 10px 40px; }
form.profile > fieldset > label { font-size: 16px; color: #556677; display: block; padding: 3px; }
form.profile > fieldset > input.i { font-size: 20px; padding: 10px; border: solid #BCC6CF 1px; width: 600px; }
form.profile > fieldset > div.s { padding: 5px; text-align: right; }
form.profile > fieldset > div.s > input { font-size: 18px; padding: 10px; width: 200px; }
form.profile > fieldset > p { font-size: 14px; padding: 10px; }
div.content { width: 820px; }
div.content h2 { font-size: 20px; font-weight: normal; padding: 5px 0 5px 20px; color: #805B4D; background: #F5DFD6 url('img/ctl.gif') no-repeat top left; border-bottom: solid 10px #fff; }
div.content dl { display: block; background-color: #ffffff; border-bottom: solid 1px #F5DFD6; padding: 4px 0; }
div.content dl > dt { display: block; width: 600px; margin-left: 2px; color: #75808A; font-size: 14px; }
div.content dl > dt > a { text-decoration: none; color: #336699; }
div.content dl > dt > a:hover { text-decoration: underline; color: #FF5511; }
div.content dl > dd { display: block; color: #ACB2B9; font-size: 12px; text-align: right; margin-top: -16px; float: right; }
div.content dl > dd > span { color: #556677; }
div.content p { background: #F5DFD6 url('img/cbr.gif') no-repeat bottom right; border-top: solid 11px #fff; margin-top: -1px; font-size: 12px; padding: 5px 20px; color: #D5A490; }
div.comments { margin: 20px 0; background: #BCC6CF url('img/ctr.gif') no-repeat top right; }
div.comments > h2 { font-size: 20px; font-weight: normal; padding: 5px 0 5px 20px; color: #556677; background: transparent url('img/ctl.gif') no-repeat top left; border-bottom: solid 1px #fff; }
div.comments > div.comment { padding: 10px; background-color: #fff; border-bottom: solid #ACB2B9 1px; }
div.comments > div.comment > div.head { font-size: 13px; border-left: solid #ACB2B9 1px; background: #F1F2F3 url('img/user_comment.png') no-repeat 3px center; padding: 3px 0 3px 25px; color: #ACB2B9; }
div.comments > div.comment > div.head > a { font-weight: bold; color: #336699; text-decoration: none; }
div.comments > div.comment > div.votes { font-size: 11px; text-align: right; float: right; margin-top: -18px; margin-right: 3px; }
div.comments > div.comment > div.votes > a { font-weight: bold; text-decoration: none; }
div.comments > div.comment > div.votes > a:hover { background-color: #ffffff; }
div.comments > div.comment > div.votes > a.g { color: #008000; }
div.comments > div.comment > div.votes > a.b { color: #FF0000; }
div.comments > div.comment > div.com { font-size: 13px; line-height: 18px; border-left: solid #ACB2B9 1px; padding: 10px; white-space: normal; overflow-x: hidden; }
div.user { margin: 20px 0; background: #BCC6CF url('img/ctr.gif') no-repeat top right; }
div.user > h2 { font-size: 20px; font-weight: normal; padding: 5px 0 5px 20px; color: #556677; background: transparent url('img/ctl.gif') no-repeat top left; border-bottom: solid 1px #fff; }
div.user > div { float: right; color: #556677; padding: 10px 20px 0 0; font-size: 12px; }
div.user > ul { font-size: 12px; background-color: #ffffff; padding: 10px 20px; }
div.user > ul > li { padding: 2px; }
div.user > p { font-size: 14px; background-color: #ffffff; padding: 10px 20px; }
div.help { font-size: 12px; margin: 20px 0; }
div.help ol, div.help ul { padding: 10px 30px; }
div.help li { padding: 2px; }
div.cloud { margin: 20px 0; text-align: center; }
div.cloud > a { text-decoration: underline; margin-right: 10px; white-space: nowrap; }
div.cloud > a:hover { color: #CC3A00; }
div.search-bookmarks { margin: 20px auto; border-bottom: solid #ACB2B9 1px; font-size: 16px; height: 29px; background: transparent url('img/star.png') no-repeat 978px center; }
div.search-bookmarks > a { display: block; border: solid #ACB2B9 1px; float: left; padding: 5px 10px; margin: 0 0 5px 10px; }
div.search-bookmarks > a:hover { background-color: #F1F2F3; color: #CC3A00; }
div.footer { font-size: 10px; text-align: center; margin: 40px 0 100px 0; clear: both; }
.limited { display:none; }