#contentA .columnL .contB .bjmovie{margin:0 auto;background:#f0f1ec}
#contentA .columnL .contB .bjmovie .title{margin-top:2px;}
#contentA .columnL .contB .bjmovie .title a{color:#c00;text-decoration:none}
#contentA .columnL .contB .bjmovie .list12{margin:2px auto;}
#contentA .columnL .contB .bjmovie .list12 img{vertical-align:middle;}
