/*
This file is for localized adjustments to CSS on a per-country basis.
*/

@media only screen and (max-device-width:768px) {
    #apple-header .links li a span {
        background-image: url(../topnav/globalnav_text.svg);
    }
    #apple-header.ios3 .links li a span {
        background-image: url(../topnav/globalnav_text.png);
    }

}

/*Turn on search*/
form#g-search { display: block;}

/*Localized Chat*/
/*=================================================================*/

/*Standard chat icons*/
.standard-chat #inviteBadge {
    width:75px;
    height:13px;
}

.standard-chat-dark #inviteBadge {
    background-image: url("../chat/button/standard-dark-invite.png");
}

/* footerblock Subscribe */
button#subscribe {
	margin: 1em 0 0;
	width: 88px;
	height: 20px;
	border: 0;
	background: url(../buttons/subscribe.png) no-repeat;
	text-indent: -9999em;
	cursor: pointer;
}

#aos_header #masthead address.phone {
	background: url(../layout/mh_phone.png) 0 50% no-repeat;
	width: 86px;
	height: 13px;
	margin-left: 0; 
}

#aos_header #masthead.education ul {
	margin-top: 10px;
}

#aos_header #masthead address.phone,
.home #aos_header #masthead.education address.phone {
	background: url(../layout/mh_phone.png) 0 50% no-repeat;
	width: 86px;
	height: 13px;
	margin-left: 0; 
}

#aos_header #masthead.eduInstitution address.phone {
background: url(../layout/mh_phone-home-ed.png) 0 50% no-repeat;
	width: 125px;
	height: 13px;
	margin-left: 0; 
	
}

#aos_header #masthead.largeBiz address.phone {
background: url(../layout/mh_phone-home-bizcustom.png) 0 50% no-repeat;
	width: 125px;
	height: 13px;
	margin-left: 0; 
	
}

#aos_header #masthead.government address.phone {

	background: url(../layout/mh_phone-home-govcustom.png) 0 50% no-repeat;
	width: 125px;
	height: 13px;
	margin-left: 0; 
	
}


#aos_header #masthead.smb address.phone {
    background: url(../layout/mh_phone_smb.png) 0 50% no-repeat;
    width: 86px;
    height: 13px;
    margin-left: 0;
}
#aos_header #masthead.education address.phone,
#aos_header #masthead.education li#chatnow {
	margin-bottom: 6px;
}
.home #aos_header #masthead address.phone {
	margin-left: 6px;
	margin-bottom: 6px;
	background: url(../layout/mh_phone-home.png) 0 50% no-repeat;
	width: 125px;
}
.home #aos_header #masthead.smb address.phone {
	margin-left: 6px;
	margin-bottom: 6px;
	background: url(../layout/mh_phone-home-smb.png) 0 50% no-repeat;
	width: 125px;
}
.home #aos_header #masthead.epp address.phone {
	margin-left: 6px;
	margin-bottom: 6px;
	background: url(../layout/mh_phone-home-epp.png) 0 50% no-repeat;
	width: 125px;
}

/* Canada MastHead Changes - start */
#aos_header #masthead.canada address.phone {
        background: none;
        width: 153px;
        height: 13px;
        margin-left: 4px;
        font-size: 14px;
        text-indent: 0;
        font-weight: bold;
        font-family: Arial, Verdana, sans-serif, Helvetica, "Lucida Grande";
}

/* Canada MastHead Changes - end */

#aos_header #masthead.epp address.phone {
	background-image: url(../layout/mh_phone-epp.png);
}

#aos_header #masthead.epp #masthead_wrap {
	background-image: url(../layout/masthead_epp.png);
}
#aos_header.collapsed #masthead.epp #masthead_wrap {
	background-image: url(../layout/masthead_collapsed_epp.png);
}
#aos_header #masthead.fr-ca address.phone {
	margin-left: 6px;
	background: url(../layout/mh_phone-home-xf.png) 0 50% no-repeat;
	width: 125px;
}
#aos_header #masthead li#chatnow {
	display: block;
}
.home #aos_header #masthead li#chatnow {
	display: none;
}
.home #aos_header #masthead.education li#chatnow {
	display: block;
}
#aos_header #masthead.eduIndividual #masthead_wrap {
	background-image: url(../layout/masthead_edu.png);
}
#aos_header.collapsed #masthead.eduIndividual #masthead_wrap {
	background-image: url(../layout/masthead_collapsed_edu.png);
}
#aos_header #masthead.smb #masthead_wrap {
	background-image: url(../layout/masthead_smb.png);
}
#aos_header.collapsed #masthead.smb #masthead_wrap {
	background-image: url(../layout/masthead_collapsed_smb.png);
}

/*Localized Save/Print buttons - REQUIRED for PDP */
.product-details .action-buttons {
	background-image: url(../product-details-action-buttons.png);
}


/* Juniper app (#as-page-content div) */
#as-page-content div.benefitsbox {
	margin: 24px 28px 30px 43px;
}
#as-page-content div.footnotes {
	margin: 20px 12px 20px 0pt;
}
#as-page-content div.footnotes ol {
	padding-left: 40px;
}
#as-page-content div.rule {
	margin: 24px 18px 0;
}
#as-page-content div.footnotes {
	margin: 20px 12px 20px 0;
}
#as-page-content div.footnotes li {
	margin: 0 0 10px 0;
}

/* FIXES: Office on Mac products on Shop Mac */
#tab-bts-accessories4 div.prod1,
#tab-bts-accessories4 div.prod2 {
	*padding-top: 15px; /* FIX: IE6 & IE7 */
}

/* FIXES: OL & UL on Good to Know page */
.modulecontent #topics .topic-item ul li {
	*margin-left: 10px; /* FIX: IE6 & IE7 */
}
.modulecontent #topics .topic-item ol {
	*padding-left: 10px; /* FIX: IE6 & IE7 */
}
#primary .modulecontent #topics ul.topic-menu li {
	_margin-right: 5px; /* FIX: IE6 */
}

/* FIXES: paragraph alignment problem caused by an img */
.modulecontent #topics .topic-content .topic-item img {
	_margin-right: -10px; /* FIX: IE6 */
}


/* FIXES: rails */

.home #secondary #newtothestore ul {
	padding: 4px 2px 3px 1px;
}
.home #secondary .footerblock #juniper img {
	margin: 0px 1px 11px;
	float: right;
}
.home #secondary .footerblock #juniper h3 {
	padding-top: 4px;
}
.home #secondary .footerblock #juniper p.more {
	padding-bottom: 10px;
}
.home #secondary #topsellers ul {
	margin: 6px 2px 7px 1px;
}

#navigation .store-navigation .box-content {
	padding-top: 5px;
	padding-bottom: 5px;
}

.home #navigation .store-navigation #morestores {
	margin-top: 3px;
	padding-top: 3px;
}
 
.home #navigation .modulecontent li a, 
.home #secondary .modulecontent li a, 
.home #navigation .modulecontent p.more a, 
.home #secondary .modulecontent p.more a {
	padding-top: 4px;
	padding-bottom: 4px;
}
.home #secondary #topsellers ul li a {
	padding-top: 4px;
	padding-bottom: 4px;
}

.home #navigation .module ul {
	margin-top: 0px;
}

.home #navigation p.more {
	margin-bottom: 2px;
}

.home #navigation .footerblock .modulecontent .moduledetail {
	margin-bottom: 0px;
}

.home #navigation .footerblock .modulecontent .moduledetail a.superlink {
	width: auto;
}
.home #navigation .footerblock .modulecontent div#specialdeals-list {
	margin-top: 4px;
}

.home .footerblock #store_details .modulecontentwrap {
	margin-top: 10px;
	height: 14em;
}
.home .footerblock #store_details .last .modulecontentwrap {
	padding-left: 18px;
	padding-right: 15px;
}
.home .footerblock #store_details #talk {
	padding-top: 0px;
}
.home .footerblock #store_details .last .last-row {
	padding-top: 0px;
}

#store_details {
	margin: 8px 0 17px 12px !important;
}

#store_updates {
	margin: 8px 0 17px 32px !important;
}



/* Change Tech Specs header and tab switcher top margin for US (it gets too long and runs into tab controller in many GEOs) */
body.family-ipod #learn-more-content #techspecs h2 {
	margin-top: 21px;
}
body.family-ipod #learn-more-content #techspecs #spec-switcher {
	margin-top: 21px;
}

/*IE fix for the footnotes width */
body.family-iphone-3g.family-iphone div#learn-more-tab-content div.footnotes {
	width: 840px;
}