body
{
font-size:12px;
color:#000000;
background-color:#ffffff;
margin:0px;
overflow:auto;
background-image:url('images/gradientfromtop.gif');
background-repeat:repeat-x;
}

body,p,h1,h2,h3,h4,table,td,th,ul,ol,textarea,input
{
font-family:verdana,helvetica,arial,sans-serif;
}

h1 {font-size:200%;margin-top:0px;font-weight:normal}
h2 {font-size:160%;margin-top:10px;margin-bottom:10px;font-weight:normal}
h3 {font-size:120%;font-weight:normal}
h4 {font-size:100%;}
h5 {font-size:90%;}
h6 {font-size:80%;}

h1,h2,h3,h4,h5,h6
{
background-color:transparent;
color:#000000;
}

iframe {margin:0px;}
div {width:100%;}

table,th,td,input,textarea
{
font-size:100%;
}

table.example
{
color:#000000;
background-color:#e5eecc;
padding-top:8px;
padding-bottom:8px;
padding-left:10px;
padding-right:10px;
border:1px solid #d4d4d4;
background-image:url('images/bgfadegreen.gif');
background-repeat:repeat-x;
}

table.example_code
{
background-color:#ffffff;
padding:4px;
border:1px solid #d4d4d4;
}

table.example_code td
{
font-size:110%;
font-family:courier new;
}

table.example_result
{
background-color:#ffffff;
padding:4px;
border:1px solid #d4d4d4;
}

table.code
{
outline:1px solid #d4d4d4;
border:5px solid #e5eecc;
}

table.code td
{
font-size:110%;
font-family:courier new;
background-color:#FFFFFF;
border:1px solid #d4d4d4;
padding:4px;
}

table.example_code p,table.code p,td.code 
{
font-family:courier new;
}

table.lamp
{
width:100%;
padding:0px;
border:1px solid #d4d4d4;
border-collapse:collapse;
}

table.lamp th
{
color:#000000;
background-color:white;
padding:0px;
border-right:1px solid #d4d4d4;
}

table.lamp td
{
color:#000000;
background-color:#e5eecc;
padding:4px;
padding-left:10px;
background-image:url('images/bgfadegreen.gif');
background-repeat:repeat-x;
}

table.reference
{
border:1px solid #c3c3c3;
border-collapse:collapse;
}

table.reference th
{
background-color:#e5eecc;
border:1px solid #c3c3c3;
padding:3px;
vertical-align:top;
}

table.reference td 
{
border:1px solid #c3c3c3;
padding:3px;
vertical-align:top;
}

table.browsersupport
{
border:1px solid #c3c3c3;
border-collapse:collapse;
}

table.browsersupport th
{
background-color:#e5eecc;
/*background-color:#98bf21;
color:#ffffff;*/
border:1px solid #c3c3c3;
padding:3px;
vertical-align:middle;
}

table.browsersupport td 
{
border:1px solid #c3c3c3;
padding:3px;
vertical-align:middle;
width:60px;
height:32px;
background-position:center;
background-repeat:no-repeat;
border:1px solid #dadada;
text-align:center;
}

table.browsersupport td.bsProperty
{
font-family:courier new;
white-space:nowrap;
text-align:left;
}

.bsIE			{background-image:url('http://www.w3schools.com/../images/compatible_ie.gif');}
.bsFirefox		{background-image:url('http://www.w3schools.com/../images/compatible_firefox.gif')}
.bsChrome		{background-image:url('http://www.w3schools.com/../images/compatible_chrome.gif');}
.bsSafari		{background-image:url('http://www.w3schools.com/../images/compatible_safari.gif');}
.bsOpera		{background-image:url('http://www.w3schools.com/../images/compatible_opera.gif')}
.bsNoIE			{background-image:url('http://www.w3schools.com/../images/incompatible_ie.gif');}
.bsNoFirefox	{background-image:url('http://www.w3schools.com/../images/incompatible_firefox.gif')}
.bsNoChrome		{background-image:url('http://www.w3schools.com/../images/incompatible_chrome.gif');}
.bsNoSafari		{background-image:url('http://www.w3schools.com/../images/incompatible_safari.gif');}
.bsNoOpera		{background-image:url('http://www.w3schools.com/../images/incompatible_opera.gif')}
.bsPreFirefox	{background-image:url('http://www.w3schools.com/../images/precompatible_firefox.gif')}
.bsPreChrome	{background-image:url('http://www.w3schools.com/../images/precompatible_chrome.gif');}
.bsPreSafari	{background-image:url('http://www.w3schools.com/../images/precompatible_safari.gif');}
.bsPreOpera		{background-image:url('http://www.w3schools.com/../images/precompatible_opera.gif')}

table.intro
{
padding:5px;padding-left:0px;
font-size:110%;
color:#555555;
background-color:transparent;
}

table.summary
{
border:1px solid #d4d4d4;
padding:5px;
font-size:100%;
color:#555555;
background-color:#fafad2;
}

h2.example,h2.example_head
{
color:#617f10;
background-color:transparent;
margin-top:0px;
}

h2.example {font-size:125%;}
h2.example_head {font-size:140%;}

h2.home
{
margin-top:0px;
margin-bottom:5px;
font-size:120%;
padding-top:1px;
padding-bottom:1px;
padding-left:1px;
color:#900B09;
background-color:#ffffff;
}

h2.tutheader
{
margin:0px;
margin-top:30px;
padding-top:2px;
padding-bottom:2px;
padding-left:4px;
color:#303030;
border:1px solid #d4d4d4;
background-color:#ffffff;
background-image:url('images/gradientfromtop.gif');
background-repeat:repeat-x;
background-position:0px -50px;
}

h2.left
{
color:#404040;
background-color:#ffffff;
font-size:120%;
margin-bottom:4px;
padding-bottom:0px;
margin-top:0px;
padding-top:0px;
font-weight:bold;
}

span.marked {color:#e80000;background-color:transparent;}
span.deprecated {color:#e80000;background-color:transparent;}

p.tutintro
{
margin-top:0px;
font-size:125%;
}

p.intro
{
font-size:120%;
color:#404040;
background-color:transparent;
margin-top:10px;
}

pre
{
font-family:"courier new";
font-size:110%;
margin-left:0;
margin-bottom:0;
}

img.float {float:left;}
img.navup
{
vertical-align:middle;
height:22px;
width:18px;
}

hr
{
background-color:#d4d4d4;
color:#d4d4d4;
height:1px;
border:0px;
clear:both;
}

a.example {font-weight:bold}

a:link,a:visited {color:#900B09; background-color:transparent}
a:hover,a:active {color:#FF0000; background-color:transparent}

a.topnav:link,a.topnav:visited {color:#555555;text-decoration:none;}
a.topnav:hover,a.topnav:active {color:#ff4800;text-decoration:none;}

a.plain:link,a.plain:visited {text-decoration:none;color:#900B09;background-color:transparent}
a.plain:hover,a.plain:active {text-decoration:underline;color:#FF0000;background-color:transparent}

a.header:link,a.header:visited {text-decoration:none;color:black;background-color:transparent}
a.header:hover,a.header:active {text-decoration:underline;color:black;background-color:transparent}

table.sitemap a:link,table.sitemap a:visited {text-decoration:none;color:black;background-color:transparent}
table.sitemap a:hover,table.sitemap a:active {text-decoration:underline;color:black;background-color:transparent}

#leftcolumn a:link,#leftcolumn a:visited {text-decoration:none;color:black;background-color:transparent}
#leftcolumn a:hover,#leftcolumn a:active {text-decoration:underline;color:black;background-color:transparent}

#rightcolumn a:link,#rightcolumn a:visited {text-decoration:none;color:#900B09;background-color:transparent}
#rightcolumn a:hover,#rightcolumn a:active {text-decoration:underline;color:#FF0000;background-color:transparent}

.toprect_txt a:link,.toprect_txt a:visited {text-decoration:none;color:#900B09;background-color:transparent}
.toprect_txt a:hover,.toprect_txt a:active {text-decoration:underline;color:#FF0000;background-color:transparent}

#footer a:link,#footer a:visited {text-decoration:none;color:#404040;background-color:transparent}
#footer a:hover,#footer a:active {text-decoration:underline;color:#404040;background-color:transparent}

a.m_item:link,a.m_item:visited {text-decoration:none;color:white; background-color:transparent}
a.m_item:hover,a.m_item:active {text-decoration:underline;color:white; background-color:transparent}

a.chapter:link    {text-decoration:none;color:#98bf21;background-color:transparent}
a.chapter:visited {text-decoration:none;color:#98bf21;background-color:transparent}
a.chapter:hover   {text-decoration:underline;color:#98bf21;background-color:transparent}
a.chapter:active  {text-decoration:none;color:#98bf21;background-color:transparent}

a.tryitbtn,a.tryitbtn:link,a.tryitbtn:visited,a.showbtn,a.showbtn:link,a.showbtn:visited
{
display:block;
color:#FFFFFF;
background-color:#98bf21;
font-weight:bold;
font-size:11px;
width:120px;
text-align:center;
padding:0;
padding-top:3px;
padding-bottom:4px;
border:1px solid #ffffff;
outline:1px solid #98bf21;
text-decoration:none;
margin-left:1px;
}

a.tryitbtn:hover,a.tryitbtn:active,a.showbtn:hover,a.showbtn:active
{
background-color:#7A991A;
}

table.chapter 
{
font-size:140%;margin:0px;padding:0px;padding-left:3px;padding-right:3px;
}
table.chapter td.prev {text-align:left;}
table.chapter td.next {text-align:right;}


td.blacknav
{
text-align:center;
color:white;
background-color:transparent;
font-size:10px;
font-weight:bold;
border-top:1px solid #868686;
border-left:1px solid black;
border-right:1px solid #868686;
padding-bottom:2px;
}

span.color_h1 {color:#92B901;}
span.left_h2 {color:#92B901;}

span.new
{
float:right;
color:#FFFFFF;
background-color:#98bf21;
font-weight:bold;
padding-left:1px;
padding-right:1px;
border:1px solid #ffffff;
outline:1px solid #98bf21;
}

#rightcolumn table
{
font-size:11px;
width:100%;
color:#000000;
background-image:url('images/gradientfromtop.gif');
background-repeat:repeat-x;
background-position:0px -50px;
background-color:#ffffff;
border-top:1px solid #d4d4d4;
margin-bottom:5px;
margin-top:0px;
}

#rightcolumn th
{
color:#404040;
padding-top:3px;
padding-bottom:4px;
border:1px solid #d4d4d4;
border-bottom:none;
border-top:none;
}

#rightcolumn td
{
color:#000000;
border:1px solid #d4d4d4;
border-top:none;
padding-top:3px;
padding-bottom:4px;
text-align:center;
}

div.toprect_txt
{
position:absolute;
left:0px;top:0px;
width:225px;height:84px;
padding:0px;margin:0px;padding-top:4px;
border:1px solid #c3c3c3;
color:#606060;
text-align:center;
font-size:12px;
}
div.toprect_img
{
position:absolute;
left:0px;top:0px;
width:227px;height:90px;
margin:0px;padding:0px;
color:#606060;
text-align:center;
font-size:12px;
}

#topnav
{
margin:0px;
background-color:#eeeeee;
margin-top:5px;
margin-bottom:10px;
padding-top:3px;
padding-bottom:3px;	
background-image:url('images/topnav_bg.gif');
background-position:bottom;
background-repeat:repeat-x;
}

#footer
{
margin:0px;
padding:20px;padding-top:7px;padding-bottom:0px;
color:#909090;background-color:transparent;
font-size:90%;
background-image:url('images/gradientbottom.jpg');
background-repeat:repeat-x;
}

.notsupported,.notsupported:hover,.notsupported:active,.notsupported:visited,.notsupported:link
{
color:rgb(197,128,128)
}

#err_form, #err_sent
{
color:#000000;
background-color:#f1f1f1;
border:1px solid #d4d4d4;
background-repeat:repeat-x;
padding:10px;
padding-bottom:0px;
width:95%;
margin-left:auto;
margin-right:auto;
margin-top:10px;
display:none;
position:relative;
}
#err_form h2, #err_sent h2
{
margin-top:0px;	
}
#err_form label
{
display:block;
margin-bottom:3px;
}
#err_url, #err_email
{
width:590px;
padding:4px;
}
#err_form textarea
{
width:590px;
height:300px;
padding:4px;
}
.err_close
{
width:58px;
padding:0px;
position:absolute;
top:5px;
right:5px;
text-decoration:underline;
cursor:pointer;
}